<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433147578296-2ssbighl9c2v6otmhigi9b25fn8jb89i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433147578296-2ssbighl9c2v6otmhigi9b25fn8jb89i</string>
	<key>API_KEY</key>
	<string>AIzaSyAjszedl305Y5dtoWrA1nPFYJzkv8wk1Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>433147578296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.hukusuke1007.flutterTdd</string>
	<key>PROJECT_ID</key>
	<string>flutter-tdd-73caa</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tdd-73caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433147578296:ios:1404b05cb371f0ec33b14d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-tdd-73caa.firebaseio.com</string>
</dict>
</plist>